<main class="home">
    ${require('./hero-banner.html')}

    <section class="bg-section ">
        <div class="container">
            <div class="row mt-20 mb-20 vertical-align1">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-20">
                    <img class=" img-responsive text-center m-auto " src="../images/fios-img.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3 class="whatis">What is FiOS <sup>&circledR;</sup>?</h3>
                    <p>FiOS brings internet, TV and phone connections to your home using a dedicated fiber optic network rather than traditional copper lines. It will change the way you use and enjoy all three services.</p>
                    <p>You will experience faster internet connections that will keep pace with everything you want to do. You’ll enjoy stunning HD picture and sound on your TV. Your phone calls will be clearer.</p>
                    <p>FiOS fiber optic right to your home is the reason to move up.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section l-bg bg-section moving-up">
        <div class="container">
            <h3 class="text-center">Moving up to FiOS<sup>&circledR;</sup></h3>
            <div class="row">

                <div class="col-sm-4">
                    <img class=" img-responsive text-center" src="../images/fios-installed.jpg" alt="">
                    <h4 class="text-center mt-20"><a href="#question1">How is FiOS<sup>&circledR;</sup> installed?</a></h4>
                    <p>A Frontier technician will come to your home and take care of everything, not leaving until the service works properly and all your questions are answered.</p>
                </div>
                <div class="col-sm-4">
                    <img class=" img-responsive text-center" src="../images/pricing.jpg" alt="">
                    <h4 class="text-center mt-20"><a href="#question2">What is Move Up promotion pricing?</a></h4>
                    <p>This is a special offer for your new FiOS service for one year, starting now. It includes FiOS Internet, TV and Digital Voice. Your installation is FREE. </p>
                </div>
                <div class="col-sm-4">
                    <img class=" img-responsive text-center" src="../images/phone.jpg" alt="">
                    <h4 class="text-center mt-20"><a href="#question4">Is FiOS<sup>&circledR;</sup> Digital Voice like my current phone service?</a></h4>
                    <p>It’s even better—with crystal-clear voice quality—and many ways to manage your calls using your phone, TV, computer or mobile app.</p>
                </div>
            </div>
        </div>

    </section>

    ${require('./offers.html')}


    <section class="mb-30 ">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-sm-12 col-md-11">
                    <h3 class="mb-20 text-center">FAQ about moving up to FiOS</h3>
                    <dl>
                        <dt id="question1">What is the installation process?</dt>
                        <dd>Our technician will come to your home and take care of everything. The technician will determine the best place to install the FiOS Optical Network Terminal, make sure the service is working properly and walk you through using
                            your new service.</dd>

                        <dt id="question2">What is the move-up promotional pricing?</dt>
                        <dd>Promotional pricing is available with a one-year term. FiOS Internet 50/50, featuring connection upload/download speeds as fast as 50 Mbps, is available for $40 monthly (with a one-year term of service). Combine FiOS Digital Voice
                            with the 50/50 plan for just $60 monthly. Add FiOS Custom TV for a $90 per-month total fee. Additional bundles are available. All plans are subject to early termination fees.</dd>

                        <dt id="question3">Is there an extra cost for installation?</dt>
                        <dd>During the move-up promotion, installation is free. Your new FiOS router to support your internet service is free for 12 months. After the promotion ends, the router will be yours for a $10 monthly rental fee.</dd>

                        <dt id="question4">How does FiOS Digital Voice compare to my current voice service?</dt>
                        <dd>Your FiOS fiber connection—with crystal-clear voice quality—includes unlimited voice-calling to Canada, Puerto Rico, U.S. territories and Mexico, and also provides more ways to manage your calls. Use your phone, your computer,
                            your TV or the MyFrontier mobile app.</dd>

                        <dt id="question5">Does it work the same as my current voice service?</dt>
                        <dd>You can use your current corded or cordless phones and have most of the popular calling features included. FiOS Digital Voice is Voice over Internet Protocol (VoIP), which requires electrical power to operate and give you 911 calling
                            capability. A battery-backup device is available from Frontier (for an additional fee) that powers phone service for up to eight hours (when fully charged) in the event of an electric power disruption, and it maintains a life
                            span of up to three years. FiOS Digital Voice also is compatible with security systems.</dd>
                    </dl>
                </div>

            </div>
        </div>
    </section>

    <section class="mb-50">
        <div class="container legal">
          <h5>Triple Play disclaimer copy:</h5>
            Limited-time offer for current residential Frontier customers subscribing to new FiOS services. Offer available in FL. Call 800.921.8101 to check promotion availability for your address. Must subscribe to a qualifying package
            of FiOS Digital Voice (FDV), new High-Speed Internet with maximum Internet speed of 50 Mbps download and 50 Mbps upload, and new FiOS TV Custom Essentials. If customer cancels one of the required bundled services during promotion, all promotional
            rates are void and maximum $60 early termination fee applies. Cannot be combined with other offers on the same services. Equipment, taxes, and governmental surcharges & fees, including broadcast fee ($2.99/mo.), DVR service fee ($10/ mo. per
            DVR, if selected), TV equip. ($11/mo. per DVR or set-top box), Internet Infrastructure Surcharge ($1.99/mo.), VoIP admin fee ($2.99/mo.), and other applicable charges, are extra and subject to change during and after the promotional period.
            ($10/mo) router fee waived for first 12 months. After 12 months, then-current everyday monthly price applies to all services and equipment. Service speed is not guaranteed and will depend on many factors. Maximum service speed is not available
            to all locations and service may not be available at certain speeds at your location. Service subject to availability. A $9.99 broadband processing fee upon disconnection of service applies. Equipment delivery/handling fee applies. Installation
            fees waived on new Frontier services. All TV prices, fees, charges, packages, programming, features, functionality and offers subject to change. Additional fees may apply to On Demand viewing. Installation fees waived on new Frontier services.
            Standard charges apply for jack installation, wiring and other additional services. Unlimited calling within the U.S. and to Canada, Puerto Rico, U.S. territories and Mexico is based on normal residential, personal, noncommercial use. Calls
            to 411 incur an additional charge. Subject to Frontier’s fair use policy and terms of service. Your Frontier VoIP phone service, including 911 service, will not function without electrical or battery backup power. In the event of a power outage,
            you may not be able to make calls and you should ensure that you have a functioning battery backup for the Residential Gateway (RG) or the Optical Network Terminal (ONT), or an alternate means of calling 911. Battery backup is optional and
            can be purchased for $39.99 per battery. Frontier reserves the right to withdraw this offer at any time. Other restrictions apply. The FiOS marks are owned by Verizon Trademark Services LLC and used under license. ©2018 Frontier Communications
            Corporation.

            <h5>Double Play disclaimer copy: </h5>
            Limited-time offer for current residential Frontier customers subscribing to new FiOS services. Offer available in FL. Call 800.921.8101 to check promotion availability for your address. Must subscribe
            to a qualifying package of FiOS Digital Voice (FDV) and new High-Speed Internet with maximum Internet speed of 50 Mbps download and 50 Mbps upload. If customer cancels one of the required bundled services during promotion, all promotional
            rates are void and maximum $60 early termination fee applies. Cannot be combined with other offers on the same services. Equipment, taxes, governmental surcharges & fees, Internet Infrastructure Surcharge ($1.99/mo.), VoIP admin fee ($2.99/mo.),
            and other applicable charges, are extra and subject to change during and after the promotional period. ($10/mo) router fee waived for first 12 months. After 12 months, then-current everyday monthly price applies to all services and equipment.
            Service speed is not guaranteed and will depend on many factors. Maximum service speed is not available to all locations and service may not be available at certain speeds at your location. Service subject to availability. A $9.99 broadband
            processing fee upon disconnection of service applies. Equipment delivery/handling fee applies. Installation fees waived on new Frontier services. Standard charges apply for jack installation, wiring and other additional services. Unlimited
            calling within the U.S. and to Canada, Puerto Rico, U.S. territories and Mexico is based on normal residential, personal, noncommercial use. Calls to 411 incur an additional charge. Subject to Frontier’s fair use policy and terms of service.
            Your Frontier VoIP phone service, including 911 service, will not function without electrical or battery backup power. In the event of a power outage, you may not be able to make calls and you should ensure that you have a functioning battery
            backup for the Residential Gateway (RG) or the Optical Network Terminal (ONT), or an alternate means of calling 911. Battery backup is optional and can be purchased for $39.99 per battery. Frontier reserves the right to withdraw this offer
            at any time. Other restrictions apply. The FiOS marks are owned by Verizon Trademark Services LLC and used under license. ©2018 Frontier Communications Corporation.

            <h5>Single Play disclaimer copy:</h5>
            Limited-time offer for current residential Frontier
            customers subscribing to new FiOS service. Offer available in FL. Call 800.921.8101 to check promotion availability for your address. Must subscribe to a qualifying package of new FiOS High-Speed Internet with maximum Internet speed of 50
            Mbps download and 50 Mbps upload. If customer cancels service during promotion, all promotional rates are void and maximum $60 early termination fee applies. Cannot be combined with other offers on the same services. Equipment, taxes, governmental
            surcharges & fees, Internet Infrastructure Surcharge ($1.99/mo.), and other applicable charges, are extra and subject to change during and after the promotional period. ($10/mo) router fee waived for first 12 months. After 12 months, then-current
            everyday monthly price applies to all services and equipment. Service speed is not guaranteed and will depend on many factors. Maximum service speed is not available to all locations and service may not be available at certain speeds at your
            location. Service subject to availability. A $9.99 broadband processing fee upon disconnection of service applies. Equipment delivery/handling fee applies. Installation fees waived on new Frontier services. Standard charges apply for jack
            installation, wiring and other additional services. Frontier reserves the right to withdraw this offer at any time. Other restrictions apply. The FiOS marks are owned by Verizon Trademark Services LLC and used under license.
            <h5>©2018 Frontier Communications Corporation.</h5>
        </div>

    </section>


</main>
