<section class="bg-section ">
  <div class="container">
      <div class="location">
          <h3 class="mb-20 text-center">Offers in your area</h3>
      </div>

      <div class="offers ">
          <div class="offer fios with-cta-phone active-group active-offer default-offer" data-offer-id="1">
              <div class="offer-title">
                  <span>Triple Play</span>
                  <div class="arrow">
                      <i class="fa fa-chevron-right"></i>
                      <i class="fa fa-chevron-up"></i>
                  </div>
              </div>
              <div class="offer-body">
                  <div class="offer-content">
                      <section>
                          <div class="tv">
                              <div class="channels">
                                  <div class="icon">
                                      <img src="../images/tv-icon.svg" class="img-responsive" alt="TV icon">
                                  </div>
                                  <div class="channel-count">
                                      <div class="channel-count-lead-small">Up to</div>
                                      <strong><span class="cnt">155</span> Channels</strong>
                                  </div>
                              </div>
                              <div class="channel-icons">
                                  <div><img src="../images/channels/amc.svg" class="espn" alt="AMC logo"></div>
                                  <div><img src="../images/channels/lifetime.svg" class="discovery" alt="Lifetime logo"></div>
                                  <div><img src="../images/channels/hgtv.svg" class="hgtv" alt="HGTV logo"></div>
                                  <div><img src="../images/channels/hallmark.svg" class="hallmark" alt="Hallmark logo"></div>
                              </div>
                              <div class="channel-list">
                                  <a href="https://frontier.com/~/media/HelpCenter/Documents/tv/fios/fios-tx-channel-guide-residential.pdf" target="_blank">Complete Channel List</a>
                              </div>
                          </div>
                      </section>
                      <div class="plus">
                          <img src="../images/plus.svg" alt="Plus icon">
                      </div>
                      <section>
                          <div class="package-features">
                              <div class="package-feature">
                                  <div id="speed1" class="speedometer animated" data-speed="100" data-fill="100">
                                      <p class="kms">
                                          <span class="number">50</span>
                                          <small>Mbps</small>
                                      </p>
                                      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.5 129.15">
                                          <defs></defs>
                                          <title>Speedometer</title>
                                          <path class="cls-1" d="M65.15,118.69c-.79,0-1.58,0-2.38,0l-.51,10.45q1.47,0,2.94,0Z" ></path>
                                          <path class="cls-1" d="M62.28,118.65c-.79,0-1.59-.08-2.38-.15l-1,10.4c1,.09,1.95.15,2.93.19Z" ></path>
                                          <path class="cls-1" d="M59.41,118.46c-.79-.08-1.58-.17-2.37-.28l-1.6,10.33c1,.14,2,.25,2.92.34Z" ></path>
                                          <path class="cls-1" d="M56.56,118.11c-.79-.12-1.58-.25-2.36-.4l-2.13,10.23c1,.19,1.92.36,2.89.5Z" ></path>
                                          <path class="cls-1" d="M53.72,117.62c-.78-.16-1.56-.34-2.34-.53L48.72,127.2c1,.24,1.91.46,2.87.65Z" ></path>
                                          <path class="cls-1" d="M50.91,117c-.77-.2-1.54-.42-2.3-.65l-3.2,10c.94.29,1.89.56,2.84.81Z" ></path>
                                          <path class="cls-1" d="M48.15,116.17c-.77-.24-1.52-.5-2.27-.77l-3.71,9.77c.92.34,1.85.66,2.78,1Z" ></path>
                                          <path class="cls-1" d="M45.42,115.22c-.75-.28-1.49-.58-2.22-.89L39,123.9c.91.39,1.82.75,2.73,1.1Z" ></path>
                                          <path class="cls-1" d="M42.75,114.13c-.73-.32-1.45-.66-2.17-1l-4.71,9.33c.88.44,1.77.86,2.67,1.25Z" ></path>
                                          <path class="cls-1" d="M40.14,112.9c-.71-.36-1.42-.74-2.11-1.13l-5.2,9.08c.86.48,1.73.94,2.6,1.39Z" ></path>
                                          <path class="cls-1" d="M37.6,111.53c-.69-.4-1.37-.81-2.05-1.24l-5.66,8.79q1.24.8,2.52,1.53Z" ></path>
                                          <path class="cls-1" d="M35.14,110q-1-.66-2-1.35l-6.11,8.48c.8.57,1.61,1.13,2.43,1.66Z" ></path>
                                          <path class="cls-1" d="M32.76,108.39c-.64-.47-1.28-1-1.9-1.45l-6.55,8.15c.77.62,1.55,1.21,2.34,1.78Z" ></path>
                                          <path class="cls-1" d="M30.48,106.63c-.63-.5-1.24-1-1.84-1.55l-7,7.8c.73.65,1.48,1.28,2.25,1.9Z" ></path>
                                          <path class="cls-1" d="M28.28,104.76c-.59-.54-1.18-1.09-1.74-1.65l-7.37,7.43c.7.68,1.41,1.35,2.15,2Z" ></path>
                                          <path class="cls-1" d="M26.19,102.77c-.56-.57-1.12-1.15-1.65-1.74l-7.75,7q1,1.08,2,2.13Z" ></path>
                                          <path class="cls-1" d="M24.21,100.67c-.53-.6-1.06-1.21-1.56-1.82l-8.1,6.61c.62.76,1.26,1.51,1.92,2.24Z" ></path>
                                          <path class="cls-1" d="M22.35,98.47c-.51-.62-1-1.26-1.46-1.9l-8.44,6.18c.58.79,1.18,1.56,1.8,2.33Z" ></path>
                                          <path class="cls-1" d="M20.6,96.17q-.71-1-1.35-2L10.5,99.93c.53.82,1.09,1.62,1.66,2.42Z" ></path>
                                          <path class="cls-1" d="M19,93.79c-.43-.68-.85-1.36-1.24-2.05L8.7,97q.73,1.27,1.53,2.52Z" ></path>
                                          <path class="cls-1" d="M17.49,91.32c-.39-.7-.77-1.4-1.13-2.11L7.06,94c.45.88.91,1.74,1.4,2.59Z" ></path>
                                          <path class="cls-1" d="M16.14,88.77q-.54-1.06-1-2.16L5.59,90.9c.4.89.81,1.78,1.25,2.66Z" ></path>
                                          <path class="cls-1" d="M14.93,86.16c-.32-.73-.62-1.47-.9-2.21L4.28,87.73c.35.92.72,1.82,1.11,2.72Z" ></path>
                                          <path class="cls-1" d="M13.85,83.49c-.27-.75-.53-1.5-.78-2.26L3.15,84.5c.29.93.62,1.86,1,2.77Z" ></path>
                                          <path class="cls-1" d="M12.92,80.77c-.23-.76-.45-1.53-.66-2.3L2.18,81.21Q2.56,82.64,3,84Z" ></path>
                                          <path class="cls-1" d="M12.14,78c-.2-.77-.38-1.55-.54-2.33L1.39,77.89c.2,1,.42,1.91.66,2.85Z" ></path>
                                          <path class="cls-1" d="M11.51,75.2c-.16-.78-.3-1.57-.42-2.35L.77,74.52c.15,1,.33,1.93.52,2.89Z" ></path>
                                          <path class="cls-1" d="M11,72.37c-.11-.79-.21-1.58-.29-2.37L.34,71.13Q.49,72.58.7,74Z" ></path>
                                          <path class="cls-1" d="M10.68,69.51c-.07-.79-.13-1.58-.16-2.37L.08,67.73c.05,1,.12,2,.21,2.92Z" ></path>
                                          <path class="cls-1" d="M10.49,66.65c0-.79,0-1.58,0-2.38L0,64.31c0,1,0,2,.06,2.93Z" ></path>
                                          <path class="cls-1" d="M10.46,63.79c0-.8,0-1.59.08-2.38L.1,60.9c0,1-.09,2-.1,2.93Z" ></path>
                                          <path class="cls-1" d="M10.57,60.92c0-.79.12-1.57.21-2.36L.38,57.5c-.11,1-.19,2-.25,2.92Z" ></path>
                                          <path class="cls-1" d="M10.84,58.07c.09-.78.2-1.57.33-2.35L.84,54.13c-.16,1-.29,1.93-.4,2.89Z" ></path>
                                          <path class="cls-1" d="M11.25,55.24c.14-.77.29-1.55.46-2.33L1.47,50.78c-.21.95-.39,1.91-.55,2.87Z" ></path>
                                          <path class="cls-1" d="M11.81,52.44c.18-.77.37-1.53.58-2.3L2.28,47.48c-.26.93-.49,1.88-.71,2.83Z" ></path>
                                          <path class="cls-1" d="M12.52,49.67c.21-.75.45-1.51.7-2.26l-10-3.19c-.3.92-.59,1.85-.85,2.79Z" ></path>
                                          <path class="cls-1" d="M13.38,47c.25-.74.52-1.49.81-2.22L4.41,41c-.35.91-.69,1.82-1,2.74Z" ></path>
                                          <path class="cls-1" d="M14.37,44.28c.3-.73.61-1.46.93-2.17L5.73,37.89c-.4.89-.78,1.78-1.14,2.68Z" ></path>
                                          <path class="cls-1" d="M15.51,41.66c.33-.71.68-1.41,1-2.11L7.22,34.84c-.45.86-.88,1.73-1.28,2.61Z" ></path>
                                          <path class="cls-1" d="M16.78,39.12c.37-.69.76-1.38,1.16-2.06L8.86,31.87c-.49.84-1,1.68-1.41,2.54Z" ></path>
                                          <path class="cls-1" d="M18.19,36.65c.4-.67.82-1.34,1.26-2L10.65,29c-.53.81-1.05,1.63-1.54,2.46Z" ></path>
                                          <path class="cls-1" d="M10.92,28.59l8.8,5.66c.43-.65.89-1.28,1.36-1.92l-8.49-6.11C12,27,11.46,27.79,10.92,28.59Z" ></path>
                                          <path class="cls-1" d="M21.37,31.94c.32-.43.65-.85,1-1.28l.47-.56-8.16-6.55-.46.56c-.45.57-.89,1.14-1.33,1.72Z" ></path>
                                          <path class="cls-1" d="M23.14,29.72c.5-.6,1-1.18,1.55-1.76l-7.8-7c-.65.7-1.29,1.43-1.91,2.18Z" ></path>
                                          <path class="cls-1" d="M25,27.6c.54-.57,1.09-1.13,1.64-1.68l-7.42-7.36c-.68.68-1.36,1.37-2,2.08Z" ></path>
                                          <path class="cls-1" d="M27,25.58c.56-.54,1.14-1.07,1.72-1.58l-7-7.75c-.71.64-1.42,1.29-2.11,2Z" ></path>
                                          <path class="cls-1" d="M29.08,23.67c.59-.51,1.2-1,1.8-1.49l-6.61-8.1c-.75.6-1.49,1.21-2.21,1.85Z" ></path>
                                          <path class="cls-1" d="M31.27,21.88c.61-.48,1.24-.95,1.87-1.4L27,12c-.78.56-1.55,1.14-2.31,1.73Z" ></path>
                                          <path class="cls-1" d="M33.54,20.2c.64-.45,1.28-.88,1.94-1.3l-5.73-8.74c-.81.51-1.61,1.05-2.39,1.6Z" ></path>
                                          <path class="cls-1" d="M35.89,18.65c.66-.41,1.33-.81,2-1.19l-5.27-9c-.83.47-1.65,1-2.47,1.48Z" ></path>
                                          <path class="cls-1" d="M38.32,17.22c.68-.38,1.37-.74,2.06-1.08L35.6,6.84c-.86.43-1.7.88-2.54,1.34Z" ></path>
                                          <path class="cls-1" d="M40.82,15.92c.7-.34,1.4-.66,2.11-1L38.64,5.42c-.87.38-1.74.78-2.6,1.2Z" ></path>
                                          <path class="cls-1" d="M43.38,14.76c.71-.3,1.43-.59,2.16-.86L41.75,4.15c-.89.34-1.78.7-2.66,1.07Z" ></path>
                                          <path class="cls-1" d="M46,13.73c.73-.27,1.47-.51,2.2-.75L44.92,3.06c-.91.29-1.81.59-2.71.92Z" ></path>
                                          <path class="cls-1" d="M48.66,12.84c.74-.23,1.48-.44,2.23-.63L48.14,2.12c-.92.24-1.84.5-2.75.79Z" ></path>
                                          <path class="cls-1" d="M51.36,12.09c.75-.19,1.5-.36,2.26-.52L51.4,1.36c-.93.19-1.86.4-2.78.64Z" ></path>
                                          <path class="cls-1" d="M54.1,11.48c.75-.15,1.51-.28,2.27-.4L54.7.76c-.94.15-1.88.32-2.82.5Z" ></path>
                                          <path class="cls-1" d="M59.15,10.73,58,.34c-1,.1-1.9.21-2.84.35L56.86,11C57.62,10.9,58.38,10.81,59.15,10.73Z" ></path>
                                          <path class="cls-1" d="M59.64,10.68c.76-.07,1.53-.12,2.3-.16L61.35.08Q59.93.16,58.5.29Z" ></path>
                                          <path class="cls-1" d="M62.43,10.5c.76,0,1.53-.05,2.3-.05L64.69,0q-1.42,0-2.85.06Z" ></path>
                                          <path class="cls-1" d="M65.22,10.45c.77,0,1.54,0,2.31.08L68,.09Q66.6,0,65.18,0Z" ></path>
                                          <path class="cls-1" d="M68,10.56c.77,0,1.53.11,2.3.19l1-10.4c-1-.1-1.89-.18-2.84-.24Z" ></path>
                                          <path class="cls-1" d="M70.79,10.8c.76.09,1.53.19,2.29.31L74.67.78C73.73.63,72.79.51,71.84.4Z" ></path>
                                          <path class="cls-1" d="M73.55,11.19c.76.13,1.52.27,2.27.43L78,1.38C77,1.19,76.09,1,75.15.86Z" ></path>
                                          <path class="cls-1" d="M76.3,11.72c.74.16,1.49.34,2.23.54L81.2,2.15c-.92-.24-1.84-.46-2.77-.67Z" ></path>
                                          <path class="cls-1" d="M79,12.39c.74.2,1.48.42,2.21.66l3.19-10Q83,2.66,81.67,2.28Z" ></path>
                                          <path class="cls-1" d="M81.67,13.2c.73.24,1.45.49,2.17.77l3.71-9.78c-.89-.34-1.79-.66-2.69-1Z" ></path>
                                          <path class="cls-1" d="M84.29,14.14c.71.28,1.42.57,2.13.88l4.21-9.57c-.87-.38-1.75-.74-2.63-1.09Z" ></path>
                                          <path class="cls-1" d="M86.86,15.22c.7.31,1.39.65,2.08,1l4.7-9.33c-.84-.43-1.7-.84-2.56-1.23Z" ></path>
                                          <path class="cls-1" d="M89.37,16.43c.68.35,1.35.72,2,1.1l5.19-9.08c-.82-.47-1.66-.93-2.5-1.36Z" ></path>
                                          <path class="cls-1" d="M91.81,17.77c.66.38,1.31.79,2,1.2l5.66-8.79c-.8-.52-1.61-1-2.42-1.49Z" ></path>
                                          <path class="cls-1" d="M99.84,10.44l-5.66,8.79c.64.42,1.27.86,1.89,1.3l6.12-8.48C101.41,11.49,100.63,11,99.84,10.44Z" ></path>
                                          <path class="cls-1" d="M96.47,20.82c.62.45,1.22.91,1.83,1.39l6.54-8.15c-.74-.6-1.49-1.17-2.26-1.72Z" ></path>
                                          <path class="cls-1" d="M98.68,22.52c.59.48,1.18,1,1.75,1.48l7-7.8c-.71-.62-1.44-1.24-2.18-1.84Z" ></path>
                                          <path class="cls-1" d="M100.79,24.32c.57.52,1.13,1,1.68,1.57l7.37-7.42c-.68-.66-1.37-1.31-2.08-1.95Z" ></path>
                                          <path class="cls-1" d="M102.82,26.24q.81.81,1.59,1.65l7.74-7c-.64-.69-1.3-1.37-2-2.05Z" ></path>
                                          <path class="cls-1" d="M104.74,28.25c.51.57,1,1.15,1.5,1.74l8.11-6.62c-.61-.72-1.23-1.44-1.87-2.14Z" ></path>
                                          <path class="cls-1" d="M106.55,30.36c.49.6,1,1.2,1.42,1.82L116.4,26c-.56-.77-1.15-1.51-1.75-2.25Z" ></path>
                                          <path class="cls-1" d="M108.25,32.57c.46.62.9,1.25,1.32,1.88l8.75-5.73c-.52-.79-1.07-1.56-1.63-2.33Z" ></path>
                                          <path class="cls-1" d="M109.84,34.86c.42.64.83,1.29,1.22,2l9-5.26c-.49-.82-1-1.62-1.51-2.42Z" ></path>
                                          <path class="cls-1" d="M111.31,37.23c.39.66.76,1.33,1.12,2l9.29-4.78c-.44-.84-.9-1.67-1.38-2.5Z" ></path>
                                          <path class="cls-1" d="M112.65,39.67c.35.68.69,1.37,1,2.07l9.54-4.29c-.4-.86-.81-1.72-1.25-2.56Z" ></path>
                                          <path class="cls-1" d="M113.87,42.18c.31.7.61,1.41.9,2.12l9.75-3.79c-.36-.88-.73-1.75-1.12-2.62Z" ></path>
                                          <path class="cls-1" d="M115,44.75c.28.72.54,1.44.8,2.16l9.92-3.27c-.3-.89-.63-1.79-1-2.67Z" ></path>
                                          <path class="cls-1" d="M115.9,47.37c.25.73.47,1.47.68,2.21l10.09-2.75q-.39-1.36-.84-2.73Z" ></path>
                                          <path class="cls-1" d="M116.72,50c.2.75.39,1.49.57,2.24l10.21-2.21c-.21-.93-.45-1.85-.7-2.77Z" ></path>
                                      </svg>
                                  </div>
                              </div>

                              <div class="package-feature">
                                  <img src="../images/phone-icon.svg" alt="Phone icon">
                                  <p>
                                      <strong>Unlimited</strong>
                                      <br> nationwide calling
                                  </p>
                              </div>
                          </div>
                      </section>
                  </div>

                  <div class="offer-footer">
                      <div class="offer-footer-inner">
                          <div class="price">
                              <div class="price-amount"><sup>$</sup>90</div>
                              <div class="price-terms">
                                  per mo.
                                  <br> for 1 year.
                              </div>
                          </div>

                          <p class="below_price min-lines-3">
                            WiFi router included (for 1 year)
                              <br> and Free installation
                              <i class="fa fa-info-circle" data-tooltip="true" title="Per month for 24 months. Equip., FDV, Internet Infrastructure Surcharge, DVR service &amp; other fees apply. Services are subject to all applicable Frontier terms and conditions."></i>
                          </p>

                          <span class="cta-cart-link">
                            <a
                              href="tel:888-338-0845"
                              class="ctaBtn"
                              data-track="true"
                              data-track-category="Cart Entries"
                              data-track-action="Click"
                              data-track-label="CTA Cart – Button Within Offer">
                              <i class="fa fa-phone  fa-inverse" aria-hidden="true"></i> 1.844.432.7018</a>
                            </span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="offer fios with-cta-phone active-group mobile-collapse1" data-offer-id="2">
              <div class="offer-title">
                  <span>Double Play</span>
                  <div class="arrow">
                      <i class="fa fa-chevron-right"></i>
                      <i class="fa fa-chevron-up"></i>
                  </div>
              </div>
              <div class="offer-body">
                  <div class="offer-content">
                    <section>
                        <div class="package-features">
                            <div class="package-feature">
                                <div id="speed2" class="speedometer animated" data-speed="100" data-fill="100">
                                    <p class="kms">
                                        <span class="number">50</span>
                                        <small>Mbps</small>
                                    </p>
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.5 129.15">
                                        <defs></defs>
                                        <title>Speedometer</title>
                                        <path class="cls-1" d="M65.15,118.69c-.79,0-1.58,0-2.38,0l-.51,10.45q1.47,0,2.94,0Z" ></path>
                                        <path class="cls-1" d="M62.28,118.65c-.79,0-1.59-.08-2.38-.15l-1,10.4c1,.09,1.95.15,2.93.19Z" ></path>
                                        <path class="cls-1" d="M59.41,118.46c-.79-.08-1.58-.17-2.37-.28l-1.6,10.33c1,.14,2,.25,2.92.34Z" ></path>
                                        <path class="cls-1" d="M56.56,118.11c-.79-.12-1.58-.25-2.36-.4l-2.13,10.23c1,.19,1.92.36,2.89.5Z" ></path>
                                        <path class="cls-1" d="M53.72,117.62c-.78-.16-1.56-.34-2.34-.53L48.72,127.2c1,.24,1.91.46,2.87.65Z" ></path>
                                        <path class="cls-1" d="M50.91,117c-.77-.2-1.54-.42-2.3-.65l-3.2,10c.94.29,1.89.56,2.84.81Z" ></path>
                                        <path class="cls-1" d="M48.15,116.17c-.77-.24-1.52-.5-2.27-.77l-3.71,9.77c.92.34,1.85.66,2.78,1Z" ></path>
                                        <path class="cls-1" d="M45.42,115.22c-.75-.28-1.49-.58-2.22-.89L39,123.9c.91.39,1.82.75,2.73,1.1Z" ></path>
                                        <path class="cls-1" d="M42.75,114.13c-.73-.32-1.45-.66-2.17-1l-4.71,9.33c.88.44,1.77.86,2.67,1.25Z" ></path>
                                        <path class="cls-1" d="M40.14,112.9c-.71-.36-1.42-.74-2.11-1.13l-5.2,9.08c.86.48,1.73.94,2.6,1.39Z" ></path>
                                        <path class="cls-1" d="M37.6,111.53c-.69-.4-1.37-.81-2.05-1.24l-5.66,8.79q1.24.8,2.52,1.53Z" ></path>
                                        <path class="cls-1" d="M35.14,110q-1-.66-2-1.35l-6.11,8.48c.8.57,1.61,1.13,2.43,1.66Z" ></path>
                                        <path class="cls-1" d="M32.76,108.39c-.64-.47-1.28-1-1.9-1.45l-6.55,8.15c.77.62,1.55,1.21,2.34,1.78Z" ></path>
                                        <path class="cls-1" d="M30.48,106.63c-.63-.5-1.24-1-1.84-1.55l-7,7.8c.73.65,1.48,1.28,2.25,1.9Z" ></path>
                                        <path class="cls-1" d="M28.28,104.76c-.59-.54-1.18-1.09-1.74-1.65l-7.37,7.43c.7.68,1.41,1.35,2.15,2Z" ></path>
                                        <path class="cls-1" d="M26.19,102.77c-.56-.57-1.12-1.15-1.65-1.74l-7.75,7q1,1.08,2,2.13Z" ></path>
                                        <path class="cls-1" d="M24.21,100.67c-.53-.6-1.06-1.21-1.56-1.82l-8.1,6.61c.62.76,1.26,1.51,1.92,2.24Z" ></path>
                                        <path class="cls-1" d="M22.35,98.47c-.51-.62-1-1.26-1.46-1.9l-8.44,6.18c.58.79,1.18,1.56,1.8,2.33Z" ></path>
                                        <path class="cls-1" d="M20.6,96.17q-.71-1-1.35-2L10.5,99.93c.53.82,1.09,1.62,1.66,2.42Z" ></path>
                                        <path class="cls-1" d="M19,93.79c-.43-.68-.85-1.36-1.24-2.05L8.7,97q.73,1.27,1.53,2.52Z" ></path>
                                        <path class="cls-1" d="M17.49,91.32c-.39-.7-.77-1.4-1.13-2.11L7.06,94c.45.88.91,1.74,1.4,2.59Z" ></path>
                                        <path class="cls-1" d="M16.14,88.77q-.54-1.06-1-2.16L5.59,90.9c.4.89.81,1.78,1.25,2.66Z" ></path>
                                        <path class="cls-1" d="M14.93,86.16c-.32-.73-.62-1.47-.9-2.21L4.28,87.73c.35.92.72,1.82,1.11,2.72Z" ></path>
                                        <path class="cls-1" d="M13.85,83.49c-.27-.75-.53-1.5-.78-2.26L3.15,84.5c.29.93.62,1.86,1,2.77Z" ></path>
                                        <path class="cls-1" d="M12.92,80.77c-.23-.76-.45-1.53-.66-2.3L2.18,81.21Q2.56,82.64,3,84Z" ></path>
                                        <path class="cls-1" d="M12.14,78c-.2-.77-.38-1.55-.54-2.33L1.39,77.89c.2,1,.42,1.91.66,2.85Z" ></path>
                                        <path class="cls-1" d="M11.51,75.2c-.16-.78-.3-1.57-.42-2.35L.77,74.52c.15,1,.33,1.93.52,2.89Z" ></path>
                                        <path class="cls-1" d="M11,72.37c-.11-.79-.21-1.58-.29-2.37L.34,71.13Q.49,72.58.7,74Z" ></path>
                                        <path class="cls-1" d="M10.68,69.51c-.07-.79-.13-1.58-.16-2.37L.08,67.73c.05,1,.12,2,.21,2.92Z" ></path>
                                        <path class="cls-1" d="M10.49,66.65c0-.79,0-1.58,0-2.38L0,64.31c0,1,0,2,.06,2.93Z" ></path>
                                        <path class="cls-1" d="M10.46,63.79c0-.8,0-1.59.08-2.38L.1,60.9c0,1-.09,2-.1,2.93Z" ></path>
                                        <path class="cls-1" d="M10.57,60.92c0-.79.12-1.57.21-2.36L.38,57.5c-.11,1-.19,2-.25,2.92Z" ></path>
                                        <path class="cls-1" d="M10.84,58.07c.09-.78.2-1.57.33-2.35L.84,54.13c-.16,1-.29,1.93-.4,2.89Z" ></path>
                                        <path class="cls-1" d="M11.25,55.24c.14-.77.29-1.55.46-2.33L1.47,50.78c-.21.95-.39,1.91-.55,2.87Z" ></path>
                                        <path class="cls-1" d="M11.81,52.44c.18-.77.37-1.53.58-2.3L2.28,47.48c-.26.93-.49,1.88-.71,2.83Z" ></path>
                                        <path class="cls-1" d="M12.52,49.67c.21-.75.45-1.51.7-2.26l-10-3.19c-.3.92-.59,1.85-.85,2.79Z" ></path>
                                        <path class="cls-1" d="M13.38,47c.25-.74.52-1.49.81-2.22L4.41,41c-.35.91-.69,1.82-1,2.74Z" ></path>
                                        <path class="cls-1" d="M14.37,44.28c.3-.73.61-1.46.93-2.17L5.73,37.89c-.4.89-.78,1.78-1.14,2.68Z" ></path>
                                        <path class="cls-1" d="M15.51,41.66c.33-.71.68-1.41,1-2.11L7.22,34.84c-.45.86-.88,1.73-1.28,2.61Z" ></path>
                                        <path class="cls-1" d="M16.78,39.12c.37-.69.76-1.38,1.16-2.06L8.86,31.87c-.49.84-1,1.68-1.41,2.54Z" ></path>
                                        <path class="cls-1" d="M18.19,36.65c.4-.67.82-1.34,1.26-2L10.65,29c-.53.81-1.05,1.63-1.54,2.46Z" ></path>
                                        <path class="cls-1" d="M10.92,28.59l8.8,5.66c.43-.65.89-1.28,1.36-1.92l-8.49-6.11C12,27,11.46,27.79,10.92,28.59Z" ></path>
                                        <path class="cls-1" d="M21.37,31.94c.32-.43.65-.85,1-1.28l.47-.56-8.16-6.55-.46.56c-.45.57-.89,1.14-1.33,1.72Z" ></path>
                                        <path class="cls-1" d="M23.14,29.72c.5-.6,1-1.18,1.55-1.76l-7.8-7c-.65.7-1.29,1.43-1.91,2.18Z" ></path>
                                        <path class="cls-1" d="M25,27.6c.54-.57,1.09-1.13,1.64-1.68l-7.42-7.36c-.68.68-1.36,1.37-2,2.08Z" ></path>
                                        <path class="cls-1" d="M27,25.58c.56-.54,1.14-1.07,1.72-1.58l-7-7.75c-.71.64-1.42,1.29-2.11,2Z" ></path>
                                        <path class="cls-1" d="M29.08,23.67c.59-.51,1.2-1,1.8-1.49l-6.61-8.1c-.75.6-1.49,1.21-2.21,1.85Z" ></path>
                                        <path class="cls-1" d="M31.27,21.88c.61-.48,1.24-.95,1.87-1.4L27,12c-.78.56-1.55,1.14-2.31,1.73Z" ></path>
                                        <path class="cls-1" d="M33.54,20.2c.64-.45,1.28-.88,1.94-1.3l-5.73-8.74c-.81.51-1.61,1.05-2.39,1.6Z" ></path>
                                        <path class="cls-1" d="M35.89,18.65c.66-.41,1.33-.81,2-1.19l-5.27-9c-.83.47-1.65,1-2.47,1.48Z" ></path>
                                        <path class="cls-1" d="M38.32,17.22c.68-.38,1.37-.74,2.06-1.08L35.6,6.84c-.86.43-1.7.88-2.54,1.34Z" ></path>
                                        <path class="cls-1" d="M40.82,15.92c.7-.34,1.4-.66,2.11-1L38.64,5.42c-.87.38-1.74.78-2.6,1.2Z" ></path>
                                        <path class="cls-1" d="M43.38,14.76c.71-.3,1.43-.59,2.16-.86L41.75,4.15c-.89.34-1.78.7-2.66,1.07Z" ></path>
                                        <path class="cls-1" d="M46,13.73c.73-.27,1.47-.51,2.2-.75L44.92,3.06c-.91.29-1.81.59-2.71.92Z" ></path>
                                        <path class="cls-1" d="M48.66,12.84c.74-.23,1.48-.44,2.23-.63L48.14,2.12c-.92.24-1.84.5-2.75.79Z" ></path>
                                        <path class="cls-1" d="M51.36,12.09c.75-.19,1.5-.36,2.26-.52L51.4,1.36c-.93.19-1.86.4-2.78.64Z" ></path>
                                        <path class="cls-1" d="M54.1,11.48c.75-.15,1.51-.28,2.27-.4L54.7.76c-.94.15-1.88.32-2.82.5Z" ></path>
                                        <path class="cls-1" d="M59.15,10.73,58,.34c-1,.1-1.9.21-2.84.35L56.86,11C57.62,10.9,58.38,10.81,59.15,10.73Z" ></path>
                                        <path class="cls-1" d="M59.64,10.68c.76-.07,1.53-.12,2.3-.16L61.35.08Q59.93.16,58.5.29Z" ></path>
                                        <path class="cls-1" d="M62.43,10.5c.76,0,1.53-.05,2.3-.05L64.69,0q-1.42,0-2.85.06Z" ></path>
                                        <path class="cls-1" d="M65.22,10.45c.77,0,1.54,0,2.31.08L68,.09Q66.6,0,65.18,0Z" ></path>
                                        <path class="cls-1" d="M68,10.56c.77,0,1.53.11,2.3.19l1-10.4c-1-.1-1.89-.18-2.84-.24Z" ></path>
                                        <path class="cls-1" d="M70.79,10.8c.76.09,1.53.19,2.29.31L74.67.78C73.73.63,72.79.51,71.84.4Z" ></path>
                                        <path class="cls-1" d="M73.55,11.19c.76.13,1.52.27,2.27.43L78,1.38C77,1.19,76.09,1,75.15.86Z" ></path>
                                        <path class="cls-1" d="M76.3,11.72c.74.16,1.49.34,2.23.54L81.2,2.15c-.92-.24-1.84-.46-2.77-.67Z" ></path>
                                        <path class="cls-1" d="M79,12.39c.74.2,1.48.42,2.21.66l3.19-10Q83,2.66,81.67,2.28Z" ></path>
                                        <path class="cls-1" d="M81.67,13.2c.73.24,1.45.49,2.17.77l3.71-9.78c-.89-.34-1.79-.66-2.69-1Z" ></path>
                                        <path class="cls-1" d="M84.29,14.14c.71.28,1.42.57,2.13.88l4.21-9.57c-.87-.38-1.75-.74-2.63-1.09Z" ></path>
                                        <path class="cls-1" d="M86.86,15.22c.7.31,1.39.65,2.08,1l4.7-9.33c-.84-.43-1.7-.84-2.56-1.23Z" ></path>
                                        <path class="cls-1" d="M89.37,16.43c.68.35,1.35.72,2,1.1l5.19-9.08c-.82-.47-1.66-.93-2.5-1.36Z" ></path>
                                        <path class="cls-1" d="M91.81,17.77c.66.38,1.31.79,2,1.2l5.66-8.79c-.8-.52-1.61-1-2.42-1.49Z" ></path>
                                        <path class="cls-1" d="M99.84,10.44l-5.66,8.79c.64.42,1.27.86,1.89,1.3l6.12-8.48C101.41,11.49,100.63,11,99.84,10.44Z" ></path>
                                        <path class="cls-1" d="M96.47,20.82c.62.45,1.22.91,1.83,1.39l6.54-8.15c-.74-.6-1.49-1.17-2.26-1.72Z" ></path>
                                        <path class="cls-1" d="M98.68,22.52c.59.48,1.18,1,1.75,1.48l7-7.8c-.71-.62-1.44-1.24-2.18-1.84Z" ></path>
                                        <path class="cls-1" d="M100.79,24.32c.57.52,1.13,1,1.68,1.57l7.37-7.42c-.68-.66-1.37-1.31-2.08-1.95Z" ></path>
                                        <path class="cls-1" d="M102.82,26.24q.81.81,1.59,1.65l7.74-7c-.64-.69-1.3-1.37-2-2.05Z" ></path>
                                        <path class="cls-1" d="M104.74,28.25c.51.57,1,1.15,1.5,1.74l8.11-6.62c-.61-.72-1.23-1.44-1.87-2.14Z" ></path>
                                        <path class="cls-1" d="M106.55,30.36c.49.6,1,1.2,1.42,1.82L116.4,26c-.56-.77-1.15-1.51-1.75-2.25Z" ></path>
                                        <path class="cls-1" d="M108.25,32.57c.46.62.9,1.25,1.32,1.88l8.75-5.73c-.52-.79-1.07-1.56-1.63-2.33Z" ></path>
                                        <path class="cls-1" d="M109.84,34.86c.42.64.83,1.29,1.22,2l9-5.26c-.49-.82-1-1.62-1.51-2.42Z" ></path>
                                        <path class="cls-1" d="M111.31,37.23c.39.66.76,1.33,1.12,2l9.29-4.78c-.44-.84-.9-1.67-1.38-2.5Z" ></path>
                                        <path class="cls-1" d="M112.65,39.67c.35.68.69,1.37,1,2.07l9.54-4.29c-.4-.86-.81-1.72-1.25-2.56Z" ></path>
                                        <path class="cls-1" d="M113.87,42.18c.31.7.61,1.41.9,2.12l9.75-3.79c-.36-.88-.73-1.75-1.12-2.62Z" ></path>
                                        <path class="cls-1" d="M115,44.75c.28.72.54,1.44.8,2.16l9.92-3.27c-.3-.89-.63-1.79-1-2.67Z" ></path>
                                        <path class="cls-1" d="M115.9,47.37c.25.73.47,1.47.68,2.21l10.09-2.75q-.39-1.36-.84-2.73Z" ></path>
                                        <path class="cls-1" d="M116.72,50c.2.75.39,1.49.57,2.24l10.21-2.21c-.21-.93-.45-1.85-.7-2.77Z" ></path>
                                    </svg>
                                </div>
                            </div>

                            <div class="package-feature">
                                <img src="../images/phone-icon.svg" alt="Phone icon">
                                <p>
                                    <strong>Unlimited</strong>
                                    <br> nationwide calling
                                </p>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="progress-bars">
                            <div class="progress-bar-wrapper">
                                <div class="progress-label">
                                    Ideal for
                                    <br> <strong>Multiple devices</strong>
                                </div>
                                <div class="progress animated">
                                    <div class="progress-bar no-transition" data-fill="98" style="width: 98%;"></div>
                                </div>
                            </div>

                            <div class="progress-bar-wrapper">
                                <div class="progress-label">
                                    Good
                                    <br> <strong>To stream online TV</strong>
                                </div>
                                <div class="progress animated">
                                    <div class="progress-bar no-transition" data-fill="98" style="width: 98%;"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                  </div>
                  <div class="offer-footer">
                      <div class="offer-footer-inner">
                          <div class="price">
                              <div class="price-amount"><sup>$</sup>60</div>
                              <div class="price-terms">
                                  per mo.
                                  <br> for 1 year.
                              </div>
                          </div>

                          <p class="below_price min-lines-3">
                            WiFi router included (for 1 year)
                              <br> and Free installation
                              <i class="fa fa-info-circle"  data-tooltip="true" title="Per month for 24 months. Equip., FDV, Internet Infrastructure Surcharge, DVR service &amp; other fees apply. Services are subject to all applicable Frontier terms and conditions."></i>
                          </p>

                          <span class="cta-cart-link">
                            <a
                              href="tel:888-338-0845"
                              class="ctaBtn"
                              data-track="true"
                              data-track-category="Cart Entries"
                              data-track-action="Click"
                              data-track-label="CTA Cart – Button Within Offer">
                              <i class="fa fa-phone  fa-inverse" aria-hidden="true"></i> 1.844.432.7018</a>
                            </span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="offer fios with-cta-phone active-group mobile-collapse1" data-offer-id="3">
              <div class="offer-title">
                  <span>Single Play</span>
                  <div class="arrow">
                      <i class="fa fa-chevron-right"></i>
                      <i class="fa fa-chevron-up"></i>
                  </div>
              </div>
              <div class="offer-body">
                <div class="offer-content">
                  <section>
                      <div class="package-features">
                          <div class="package-feature">
                              <div class="speedometer animated" id="speed3" data-speed="100" data-fill="100">
                                  <p class="kms">
                                      <span class="number">50</span>
                                      <small>Mbps</small>
                                  </p>
                                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.5 129.15">
                                      <defs></defs>
                                      <title>Speedometer</title>
                                      <path class="cls-1" d="M65.15,118.69c-.79,0-1.58,0-2.38,0l-.51,10.45q1.47,0,2.94,0Z" ></path>
                                      <path class="cls-1" d="M62.28,118.65c-.79,0-1.59-.08-2.38-.15l-1,10.4c1,.09,1.95.15,2.93.19Z" ></path>
                                      <path class="cls-1" d="M59.41,118.46c-.79-.08-1.58-.17-2.37-.28l-1.6,10.33c1,.14,2,.25,2.92.34Z" ></path>
                                      <path class="cls-1" d="M56.56,118.11c-.79-.12-1.58-.25-2.36-.4l-2.13,10.23c1,.19,1.92.36,2.89.5Z" ></path>
                                      <path class="cls-1" d="M53.72,117.62c-.78-.16-1.56-.34-2.34-.53L48.72,127.2c1,.24,1.91.46,2.87.65Z" ></path>
                                      <path class="cls-1" d="M50.91,117c-.77-.2-1.54-.42-2.3-.65l-3.2,10c.94.29,1.89.56,2.84.81Z" ></path>
                                      <path class="cls-1" d="M48.15,116.17c-.77-.24-1.52-.5-2.27-.77l-3.71,9.77c.92.34,1.85.66,2.78,1Z" ></path>
                                      <path class="cls-1" d="M45.42,115.22c-.75-.28-1.49-.58-2.22-.89L39,123.9c.91.39,1.82.75,2.73,1.1Z" ></path>
                                      <path class="cls-1" d="M42.75,114.13c-.73-.32-1.45-.66-2.17-1l-4.71,9.33c.88.44,1.77.86,2.67,1.25Z" ></path>
                                      <path class="cls-1" d="M40.14,112.9c-.71-.36-1.42-.74-2.11-1.13l-5.2,9.08c.86.48,1.73.94,2.6,1.39Z" ></path>
                                      <path class="cls-1" d="M37.6,111.53c-.69-.4-1.37-.81-2.05-1.24l-5.66,8.79q1.24.8,2.52,1.53Z" ></path>
                                      <path class="cls-1" d="M35.14,110q-1-.66-2-1.35l-6.11,8.48c.8.57,1.61,1.13,2.43,1.66Z" ></path>
                                      <path class="cls-1" d="M32.76,108.39c-.64-.47-1.28-1-1.9-1.45l-6.55,8.15c.77.62,1.55,1.21,2.34,1.78Z" ></path>
                                      <path class="cls-1" d="M30.48,106.63c-.63-.5-1.24-1-1.84-1.55l-7,7.8c.73.65,1.48,1.28,2.25,1.9Z" ></path>
                                      <path class="cls-1" d="M28.28,104.76c-.59-.54-1.18-1.09-1.74-1.65l-7.37,7.43c.7.68,1.41,1.35,2.15,2Z" ></path>
                                      <path class="cls-1" d="M26.19,102.77c-.56-.57-1.12-1.15-1.65-1.74l-7.75,7q1,1.08,2,2.13Z" ></path>
                                      <path class="cls-1" d="M24.21,100.67c-.53-.6-1.06-1.21-1.56-1.82l-8.1,6.61c.62.76,1.26,1.51,1.92,2.24Z" ></path>
                                      <path class="cls-1" d="M22.35,98.47c-.51-.62-1-1.26-1.46-1.9l-8.44,6.18c.58.79,1.18,1.56,1.8,2.33Z" ></path>
                                      <path class="cls-1" d="M20.6,96.17q-.71-1-1.35-2L10.5,99.93c.53.82,1.09,1.62,1.66,2.42Z" ></path>
                                      <path class="cls-1" d="M19,93.79c-.43-.68-.85-1.36-1.24-2.05L8.7,97q.73,1.27,1.53,2.52Z" ></path>
                                      <path class="cls-1" d="M17.49,91.32c-.39-.7-.77-1.4-1.13-2.11L7.06,94c.45.88.91,1.74,1.4,2.59Z" ></path>
                                      <path class="cls-1" d="M16.14,88.77q-.54-1.06-1-2.16L5.59,90.9c.4.89.81,1.78,1.25,2.66Z" ></path>
                                      <path class="cls-1" d="M14.93,86.16c-.32-.73-.62-1.47-.9-2.21L4.28,87.73c.35.92.72,1.82,1.11,2.72Z" ></path>
                                      <path class="cls-1" d="M13.85,83.49c-.27-.75-.53-1.5-.78-2.26L3.15,84.5c.29.93.62,1.86,1,2.77Z" ></path>
                                      <path class="cls-1" d="M12.92,80.77c-.23-.76-.45-1.53-.66-2.3L2.18,81.21Q2.56,82.64,3,84Z" ></path>
                                      <path class="cls-1" d="M12.14,78c-.2-.77-.38-1.55-.54-2.33L1.39,77.89c.2,1,.42,1.91.66,2.85Z" ></path>
                                      <path class="cls-1" d="M11.51,75.2c-.16-.78-.3-1.57-.42-2.35L.77,74.52c.15,1,.33,1.93.52,2.89Z" ></path>
                                      <path class="cls-1" d="M11,72.37c-.11-.79-.21-1.58-.29-2.37L.34,71.13Q.49,72.58.7,74Z" ></path>
                                      <path class="cls-1" d="M10.68,69.51c-.07-.79-.13-1.58-.16-2.37L.08,67.73c.05,1,.12,2,.21,2.92Z" ></path>
                                      <path class="cls-1" d="M10.49,66.65c0-.79,0-1.58,0-2.38L0,64.31c0,1,0,2,.06,2.93Z" ></path>
                                      <path class="cls-1" d="M10.46,63.79c0-.8,0-1.59.08-2.38L.1,60.9c0,1-.09,2-.1,2.93Z" ></path>
                                      <path class="cls-1" d="M10.57,60.92c0-.79.12-1.57.21-2.36L.38,57.5c-.11,1-.19,2-.25,2.92Z" ></path>
                                      <path class="cls-1" d="M10.84,58.07c.09-.78.2-1.57.33-2.35L.84,54.13c-.16,1-.29,1.93-.4,2.89Z" ></path>
                                      <path class="cls-1" d="M11.25,55.24c.14-.77.29-1.55.46-2.33L1.47,50.78c-.21.95-.39,1.91-.55,2.87Z" ></path>
                                      <path class="cls-1" d="M11.81,52.44c.18-.77.37-1.53.58-2.3L2.28,47.48c-.26.93-.49,1.88-.71,2.83Z" ></path>
                                      <path class="cls-1" d="M12.52,49.67c.21-.75.45-1.51.7-2.26l-10-3.19c-.3.92-.59,1.85-.85,2.79Z" ></path>
                                      <path class="cls-1" d="M13.38,47c.25-.74.52-1.49.81-2.22L4.41,41c-.35.91-.69,1.82-1,2.74Z" ></path>
                                      <path class="cls-1" d="M14.37,44.28c.3-.73.61-1.46.93-2.17L5.73,37.89c-.4.89-.78,1.78-1.14,2.68Z" ></path>
                                      <path class="cls-1" d="M15.51,41.66c.33-.71.68-1.41,1-2.11L7.22,34.84c-.45.86-.88,1.73-1.28,2.61Z" ></path>
                                      <path class="cls-1" d="M16.78,39.12c.37-.69.76-1.38,1.16-2.06L8.86,31.87c-.49.84-1,1.68-1.41,2.54Z" ></path>
                                      <path class="cls-1" d="M18.19,36.65c.4-.67.82-1.34,1.26-2L10.65,29c-.53.81-1.05,1.63-1.54,2.46Z" ></path>
                                      <path class="cls-1" d="M10.92,28.59l8.8,5.66c.43-.65.89-1.28,1.36-1.92l-8.49-6.11C12,27,11.46,27.79,10.92,28.59Z" ></path>
                                      <path class="cls-1" d="M21.37,31.94c.32-.43.65-.85,1-1.28l.47-.56-8.16-6.55-.46.56c-.45.57-.89,1.14-1.33,1.72Z" ></path>
                                      <path class="cls-1" d="M23.14,29.72c.5-.6,1-1.18,1.55-1.76l-7.8-7c-.65.7-1.29,1.43-1.91,2.18Z" ></path>
                                      <path class="cls-1" d="M25,27.6c.54-.57,1.09-1.13,1.64-1.68l-7.42-7.36c-.68.68-1.36,1.37-2,2.08Z" ></path>
                                      <path class="cls-1" d="M27,25.58c.56-.54,1.14-1.07,1.72-1.58l-7-7.75c-.71.64-1.42,1.29-2.11,2Z" ></path>
                                      <path class="cls-1" d="M29.08,23.67c.59-.51,1.2-1,1.8-1.49l-6.61-8.1c-.75.6-1.49,1.21-2.21,1.85Z" ></path>
                                      <path class="cls-1" d="M31.27,21.88c.61-.48,1.24-.95,1.87-1.4L27,12c-.78.56-1.55,1.14-2.31,1.73Z" ></path>
                                      <path class="cls-1" d="M33.54,20.2c.64-.45,1.28-.88,1.94-1.3l-5.73-8.74c-.81.51-1.61,1.05-2.39,1.6Z" ></path>
                                      <path class="cls-1" d="M35.89,18.65c.66-.41,1.33-.81,2-1.19l-5.27-9c-.83.47-1.65,1-2.47,1.48Z" ></path>
                                      <path class="cls-1" d="M38.32,17.22c.68-.38,1.37-.74,2.06-1.08L35.6,6.84c-.86.43-1.7.88-2.54,1.34Z" ></path>
                                      <path class="cls-1" d="M40.82,15.92c.7-.34,1.4-.66,2.11-1L38.64,5.42c-.87.38-1.74.78-2.6,1.2Z" ></path>
                                      <path class="cls-1" d="M43.38,14.76c.71-.3,1.43-.59,2.16-.86L41.75,4.15c-.89.34-1.78.7-2.66,1.07Z" ></path>
                                      <path class="cls-1" d="M46,13.73c.73-.27,1.47-.51,2.2-.75L44.92,3.06c-.91.29-1.81.59-2.71.92Z" ></path>
                                      <path class="cls-1" d="M48.66,12.84c.74-.23,1.48-.44,2.23-.63L48.14,2.12c-.92.24-1.84.5-2.75.79Z" ></path>
                                      <path class="cls-1" d="M51.36,12.09c.75-.19,1.5-.36,2.26-.52L51.4,1.36c-.93.19-1.86.4-2.78.64Z" ></path>
                                      <path class="cls-1" d="M54.1,11.48c.75-.15,1.51-.28,2.27-.4L54.7.76c-.94.15-1.88.32-2.82.5Z" ></path>
                                      <path class="cls-1" d="M59.15,10.73,58,.34c-1,.1-1.9.21-2.84.35L56.86,11C57.62,10.9,58.38,10.81,59.15,10.73Z" ></path>
                                      <path class="cls-1" d="M59.64,10.68c.76-.07,1.53-.12,2.3-.16L61.35.08Q59.93.16,58.5.29Z" ></path>
                                      <path class="cls-1" d="M62.43,10.5c.76,0,1.53-.05,2.3-.05L64.69,0q-1.42,0-2.85.06Z" ></path>
                                      <path class="cls-1" d="M65.22,10.45c.77,0,1.54,0,2.31.08L68,.09Q66.6,0,65.18,0Z" ></path>
                                      <path class="cls-1" d="M68,10.56c.77,0,1.53.11,2.3.19l1-10.4c-1-.1-1.89-.18-2.84-.24Z" ></path>
                                      <path class="cls-1" d="M70.79,10.8c.76.09,1.53.19,2.29.31L74.67.78C73.73.63,72.79.51,71.84.4Z" ></path>
                                      <path class="cls-1" d="M73.55,11.19c.76.13,1.52.27,2.27.43L78,1.38C77,1.19,76.09,1,75.15.86Z" ></path>
                                      <path class="cls-1" d="M76.3,11.72c.74.16,1.49.34,2.23.54L81.2,2.15c-.92-.24-1.84-.46-2.77-.67Z" ></path>
                                      <path class="cls-1" d="M79,12.39c.74.2,1.48.42,2.21.66l3.19-10Q83,2.66,81.67,2.28Z" ></path>
                                      <path class="cls-1" d="M81.67,13.2c.73.24,1.45.49,2.17.77l3.71-9.78c-.89-.34-1.79-.66-2.69-1Z" ></path>
                                      <path class="cls-1" d="M84.29,14.14c.71.28,1.42.57,2.13.88l4.21-9.57c-.87-.38-1.75-.74-2.63-1.09Z" ></path>
                                      <path class="cls-1" d="M86.86,15.22c.7.31,1.39.65,2.08,1l4.7-9.33c-.84-.43-1.7-.84-2.56-1.23Z" ></path>
                                      <path class="cls-1" d="M89.37,16.43c.68.35,1.35.72,2,1.1l5.19-9.08c-.82-.47-1.66-.93-2.5-1.36Z" ></path>
                                      <path class="cls-1" d="M91.81,17.77c.66.38,1.31.79,2,1.2l5.66-8.79c-.8-.52-1.61-1-2.42-1.49Z" ></path>
                                      <path class="cls-1" d="M99.84,10.44l-5.66,8.79c.64.42,1.27.86,1.89,1.3l6.12-8.48C101.41,11.49,100.63,11,99.84,10.44Z" ></path>
                                      <path class="cls-1" d="M96.47,20.82c.62.45,1.22.91,1.83,1.39l6.54-8.15c-.74-.6-1.49-1.17-2.26-1.72Z" ></path>
                                      <path class="cls-1" d="M98.68,22.52c.59.48,1.18,1,1.75,1.48l7-7.8c-.71-.62-1.44-1.24-2.18-1.84Z" ></path>
                                      <path class="cls-1" d="M100.79,24.32c.57.52,1.13,1,1.68,1.57l7.37-7.42c-.68-.66-1.37-1.31-2.08-1.95Z" ></path>
                                      <path class="cls-1" d="M102.82,26.24q.81.81,1.59,1.65l7.74-7c-.64-.69-1.3-1.37-2-2.05Z" ></path>
                                      <path class="cls-1" d="M104.74,28.25c.51.57,1,1.15,1.5,1.74l8.11-6.62c-.61-.72-1.23-1.44-1.87-2.14Z" ></path>
                                      <path class="cls-1" d="M106.55,30.36c.49.6,1,1.2,1.42,1.82L116.4,26c-.56-.77-1.15-1.51-1.75-2.25Z" ></path>
                                      <path class="cls-1" d="M108.25,32.57c.46.62.9,1.25,1.32,1.88l8.75-5.73c-.52-.79-1.07-1.56-1.63-2.33Z" ></path>
                                      <path class="cls-1" d="M109.84,34.86c.42.64.83,1.29,1.22,2l9-5.26c-.49-.82-1-1.62-1.51-2.42Z" ></path>
                                      <path class="cls-1" d="M111.31,37.23c.39.66.76,1.33,1.12,2l9.29-4.78c-.44-.84-.9-1.67-1.38-2.5Z" ></path>
                                      <path class="cls-1" d="M112.65,39.67c.35.68.69,1.37,1,2.07l9.54-4.29c-.4-.86-.81-1.72-1.25-2.56Z" ></path>
                                      <path class="cls-1" d="M113.87,42.18c.31.7.61,1.41.9,2.12l9.75-3.79c-.36-.88-.73-1.75-1.12-2.62Z" ></path>
                                      <path class="cls-1" d="M115,44.75c.28.72.54,1.44.8,2.16l9.92-3.27c-.3-.89-.63-1.79-1-2.67Z" ></path>
                                      <path class="cls-1" d="M115.9,47.37c.25.73.47,1.47.68,2.21l10.09-2.75q-.39-1.36-.84-2.73Z" ></path>
                                      <path class="cls-1" d="M116.72,50c.2.75.39,1.49.57,2.24l10.21-2.21c-.21-.93-.45-1.85-.7-2.77Z" ></path>
                                  </svg>
                              </div>
                          </div>

                      </div>
                  </section>

                  <section>
                      <div class="progress-bars">
                          <div class="progress-bar-wrapper">
                              <div class="progress-label">
                                  Ideal for
                                  <br> <strong>Multiple devices</strong>
                              </div>
                              <div class="progress animated">
                                  <div class="progress-bar no-transition" data-fill="98" style="width: 98%;"></div>
                              </div>
                          </div>

                          <div class="progress-bar-wrapper">
                              <div class="progress-label">
                                  Good
                                  <br> <strong>To stream online TV</strong>
                              </div>
                              <div class="progress animated">
                                  <div class="progress-bar no-transition" data-fill="98" style="width: 98%;"></div>
                              </div>
                          </div>
                      </div>
                  </section>
                </div>
                  <div class="offer-footer">
                      <div class="offer-footer-inner">
                          <div class="price">
                              <div class="price-amount"><sup>$</sup>40</div>
                              <div class="price-terms">
                                  per mo.
                                  <br> for 1 year.
                              </div>
                          </div>

                          <p class="below_price min-lines-3">
                            WiFi router included (for 1 year)
                              <br> and Free installation
                              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-tooltip="true" title="Per month for 24 months. Equip., FDV, Internet Infrastructure Surcharge, DVR service &amp; other fees apply. Services are subject to all applicable Frontier terms and conditions."></i>
                          </p>

                          <span class="cta-cart-link">
                            <a
                              href="tel:888-338-0845"
                              class="ctaBtn"
                              data-track="true"
                              data-track-category="Cart Entries"
                              data-track-action="Click"
                              data-track-label="CTA Cart – Button Within Offer">
                              <i class="fa fa-phone  fa-inverse" aria-hidden="true"></i> 1.844.432.7018</a>
                            </span>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
</section>
